## Data Science with Jupyter Notebook

The document below will introduce us to different experiences using Jupyter Notebook

Data Science Languages:
1. Python
2. R Programming Language
3. SQL
4. Julia
5. Scala

Data Science Libraries:
1. TensorFlow
2. NumPy
3. Pandas
4. Matplotlib
5. SciKit-Learn

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

Arithmetic Expression using Jupyter Notebook

In [1]:
12+8

20

In [2]:
9*4

36

In [7]:
450/60

7.5

In [9]:
(28-3)*4

100

**Objectives:**
- Learning to use Markdown
- Learning about Data science tools and libraries
- Learning about Tables
- Learning about Arithmetic Expressions

### Author
Thabang Teddy